################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2021/Solution.ConsoleApplication/obj
/AdventOfCode2021/Solution.ConsoleApplication/bin/Debug/net6.0
/AdventOfCode2021/.vs
